.mySwiper{
    color: azure;
    text-align: center;
}
/* .swiper {
    width: 400px;
    height: 300px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #a06999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
