/* v1 */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-button-prev,.swiper-button-next{
    color: rgba(255, 0, 0, 0.547);
  }
.movie-description{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    padding: 5px 30px;
    position: absolute;
    width: 100%;
} 

/* v2 */


.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-button-prev,.swiper-button-next{
    color: rgba(255, 0, 0, 0.547);
  }
  .movie-description{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    padding: 5px 30px;
    position: absolute;
    width: 100%;
  } 
  .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  }
  .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }